.calendar-type-legend {
  .calendar-type-item {
    display: inline-block;
    background: var(--background-color-secondary);
    color: var(--text-color-main);
    border-radius: 4px;
    padding: 4px 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
  }

  .calendar-type-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--text-color-soft3);
    border-radius: 4px;
    margin-right: 6px;
    position: relative;
    top: 2px;
  }
}
